
.backgroundsetting
{
background-color: white;
background-image: url("img/background.png");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: bottom;
text-align: center
}




.portfolio{
text-align: center;
padding: 0.5em 1em;
margin: 2em 0;
color: #2c2c2f;
background:rgba(0,0,0,0.5);/*背景色*/
}


.portfolio button{
	margin: 5% 0;
	padding: 5% 0;
	border-style: inset;
	height: auto;
	text-align: center;
	width: 100%;
	height: width
}

.portfolio h3{
font-size: 350%;
border-left: 10px blue solid;
text-align: center;
color: red
}
.portfolio h2{
font-size: 300%;
padding: 5% 5%;
background:rgba(125,255,255,0.8);
}
.portfolio img{
text-align: center;
width: 100%;
height: auto;
}
.portfolio p{
font-size: 300%;
color: green
}

.belt{
font-size: 150%;
text-align: center;
padding: 0.5em 1em;
margin: 2em 0;
color: #2c2c2f;
background:rgba(255,255,255,0.7);/*背景色*/
}

.belt button{
margin: 2% 2%;
}

.belt img{
width: 1em;
height: auto;
align: left;
}

.belt p{
vertical-align: middle;
font-size: 250%;
color: green
}

.header{
font-size: 150%;
text-align: center;
padding: 0.5em 1em;
margin: 0 0;
color: #2c2c2f;
background:rgba(255,255,255,0.8);/*背景色*/
}
.header button{
font-size: 150%;
}

.footer{
font-size: 150%;
text-align: center;
padding: 0 1em;
margin: 0 0;
color: #2c2c2f;
background:rgba(255,255,0,0.8);/*背景色*/
}